div{
    border: 20px solid pink;
 }

.container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 150px 200px 200px 700px 90px;
}
.navagation {
   grid-column: 1/4;
   grid-row: 1/2;
   background-color:  rgb(241, 105, 173);
   margin: 5px;
   align-content: space-evenly;
   
}
.header {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: rgb(252, 78, 136);
    margin: 5px;
    font-size: 40px;
    text-align: center;
}
.intro {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: hotpink;
    margin: 5px;
}   
.box1 {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: rgb(185, 231, 185);
    margin: 5px;
}
.box2 {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: violet;
    margin: 5px;
}
.box3 {
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: powderblue;
    margin: 5px;
}
.footer {
    grid-column: 1/4;
    grid-row: 5/6;
    background-color: paleturquoise;
    margin: 5px;
    text-align: center;

}

.navbar ul{
    list-style-type: none;
    background-color:   rgb(241, 105, 173);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}
.navbar a{
     color: rgb(248, 162, 177);
     text-decoration: none;
     padding: 15px;
     display: block;
     text-align: center;

}
.navbar a:hover{
    background-color:  rgb(243, 122, 182)
    
}
.navbar li{
     float: left;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif; 
    font-size: 20px; 
}

h1{
    color: rgb(248, 162, 177);
}

h3{
    color: rgb(248, 162, 177);
}

body {
    color: rgb(248, 162, 177);
    background-color: hotpink;
}

main {

    color: rgb(248, 162, 177);

}





